.ipynb_checkpoints
*/.ipynb_checkpoints/*
*__pycache__
__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox/
.cache
.project
.pydevproject
#  ignore from root
.env
__pycache__
exp.lsr
exp.xml
tag_options.pkl
current_steps.pkl
.DS_Store
*.zip
linkedin.md
non-expert-evals
experiments